/* Colors */
:root {
  --lightgray: #e0e0e0;
  --gray: #C0C0C0;
  --medgray: #999;
  --darkgray: #333;
  --purple-85: #570496;
  --purple-95: #210438;
  --blue-00: #dde3e9;
  --blue-10: #badfff;
  --blue-25: #8cc3ff;
  --blue-35: #66b1ff;
  --blue-50: #1c90fc;
  --blue-75: #1657a3;
  --blue-85: #144073;
  --offwhite: #f0f0f0;
  --white: #fff;
  --flow-space: 1em;
  --monospace: "Share Tech Mono", "JetBrains Mono", Inconsolata, Inconsolata-g, "Fira Code", "Source Sans Code", Consolas, "Deja Vu Sans Mono", Hack, "IBM Plex Mono", MonoLisa, Monoid, "Droid Sans Mono", Monaco, monospace;
}

/* Global stylesheet */
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Atkinson Hyperlegible", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  color: var(--darkgray);
  background-color: var(--offwhite);
  /* font-size: clamp(1rem, 0.75vw + 0.7rem, 1.375rem); */
  /* 16-20, 640-1920px */
  font-size: clamp(1rem, 0.3125vw + 0.875rem, 1.25rem);
  line-height: 1.375;
}

h1, h2, h3, h4, h5, h6 {
  color: var(--purple-95);
  line-height: 1;
}

.heading-50 {
  font-size: 2.5em;
}

h1, .heading-100 {
  font-size: 2em;
}

h2, .heading-200 {
  font-size: 1.75em;
  border-bottom: 1px solid currentColor;
}

h3, .heading-300 {
  font-size: 1.5em;
}

h4, .heading-400 {
  font-size: 1.125em;
}

h5, .heading-500 {
  font-size: 1em;
}

a {
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 2px;
  transition: color 300ms ease-in-out;
  color: var(--blue-75);
}

a:hover {
  color: var(--blue-85);
}

hr {
  border: 0;
  border-top: 1px solid var(--gray);
}

code,
pre {
  font-family: "JetBrains Mono", Inconsolata, Inconsolata-g, "Fira Code",
    "Source Sans Code", Consolas, "Deja Vu Sans Mono", Hack,
    "IBM Plex Mono", MonoLisa, Monoid, "Droid Sans Mono", Monaco,
    monospace;
  font-weight: 400;
  font-size: 0.825em;
}

pre {
  white-space: pre-wrap;
}

ul, ol {
  padding-inline-start: 1em;
  margin-block: 0;
}

ul ul li, ol ul li {
  list-style: square;
}

li::marker {
  color: var(--blue-25);
}

ol > li::marker {
  color: var(--blue-50);
  font-weight: bold;
}

li {
  padding-inline-start: 0.5ch;
}

dt {
  font-weight: bold;
}

dd {
  margin-inline-start: 1.25em;
}

figcaption {
  text-align: center;
  font-style: italic;
  font-size: 0.75em;
  color: rgba(0 0 0 / 0.5);
}

blockquote {
  padding: 1em;
  background-color: var(--blue-00);
  border-radius: 1ch;
}

blockquote > * + * {
  margin-block-start: var(--flow-space, 1em);
}

.table-full table {
  width: 100%;
  overflow-x: scroll;
}

table {
  border-collapse: collapse;
  border-spacing: 0.25rem;
}

th {
  background-color: var(--purple-95);
  color: var(--lightgray);
  padding: 0.25em;
}

td {
  padding: 0.25em;
}

tr:nth-child(even) {
  background-color: var(--blue-00);
}

tr:nth-child(odd) {
  background-color: var(--offwhite);
}

hr {
  display: block;
  border: 0;
  border-top: 1px solid var(--gray);
}

mark {
  color: var(--blue-85);
  background-color: transparent;
}

details {
  background-color: var(--blue-00);
  padding: 1em;
  border-radius: 1em;
}

summary {
  font-family: var(--monospace);
}

.container {
  margin: 0 auto;
  max-width: 45rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.inset {
  max-width: 30rem;
}

.inset-small {
  max-width: 25rem;
}

.flow > * + *, details > * + * {
  margin-block-start: var(--flow-space, 1em);
}

.tmpl-post h2 + * {
  --flow-space: 0.25em;
}

.tmpl-post h3 + *, h4 + * {
  --flow-space: 0.125em;
}

.tmpl-post h2 + h3 {
  --flow-space: 0.75em;
}

/* Direct Links / Markdown Headers */

.header-anchor {
  font-family: sans-serif;
  text-decoration: none;
  font-style: normal;
  margin-left: 0.1em;
}

a[href].header-anchor,
a[href].header-anchor:visited {
  color: transparent;
}

a[href].header-anchor:focus,
a[href].header-anchor:focus:visited,
:hover > a[href].header-anchor,
:hover > a[href].header-anchor:visited {
  color: #aaa;
}

.meta-grid {
  display: grid;
  gap: 0.5rem;
}

@media all and (min-width: 576px) {
  .meta-grid {
    grid-template-columns: 10rem auto;
  }
}

.tag {
  display: inline-block;
  background-color: var(--blue-00);
  border: 1px solid var(--blue-10);
  box-shadow: 0.25em 0.25em 0 0 var(--blue-75);
  padding: 0.375em 0.5em;
  font-size: 0.625em;
  font-family: var(--monospace);
  border-radius: 1ch;
  text-decoration: none;
  text-transform: uppercase;
  transition: background-color 300ms ease-in-out, color 300ms ease-in-out, box-shadow 200ms ease-in-out;
  vertical-align: middle;
}

.tag:hover {
  background-color: var(--blue-10);
  box-shadow: 0.0625em 0.0625em 0 0 var(--blue-75);
}

.chip-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  padding: 0;
}

@media all and (min-width: 768px) {
  .chip-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

.chip {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.chip-link {
  text-decoration: none;
  font-size: 1.25em;
}

.mark {
  background: var(--blue-35);
  font-family: var(--monospace);
  color: white;
  padding: 0.1em;
  border-radius: 0.25rem;
  vertical-align: baseline;
}

.dropcap {
  background: var(--blue-35);
  font-family: var(--monospace);
  color: white;
  float: left;
  font-size: 5rem;
  line-height: 1;
  margin: 0.0625em 0.125em 0 0;
  padding: 0.1em;
  border-radius: 0.25rem;
}

.dropcap:before,
.dropcap:after {
  content: "";
  display: block;
}
.dropcap:before {
  margin-top: -0.1em;
}

.dropcap:after {
  margin-bottom: -0.15em;
}

.after-inset-0:after {
  content: "";
  display: block;
  position: absolute;
  inset: 0;
}

.block {
  display: block;
}

.color-medgray {
  color: var(--medgray);
}

.color-gray {
  color: var(--gray);
}

.color-blue-75 {
  color: var(--blue-75);
}

.color-blue-85 {
  color: var(--blue-85);
}

.columns-2 {
  columns: 2;
}

.flex {
  display: flex;
}

.flex-shrink-0 {
  flex-shrink: 0;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flow-1\/2 {
  --flow-space: 0.5em;
}

.flow-3\/2 {
  --flow-space: 1.5em;
}

.flow-2 {
  --flow-space: 2em;
}

.flow-3 {
  --flow-space: 3em;
}

.font-monospace {
  font-family: var(--monospace);
}

.gap-1\/2 {
  gap: 0.5em;
}

.gap-1 {
  gap: 1em;
}

.justify-between {
  justify-content: space-between;
}

.items-center {
  align-items: center;
}

.items-baseline {
  align-items: baseline;
}

.line-height-0 {
  line-height: 0;
}

.no-list {
  list-style: none;
}

.space-x > * + * {
  margin-left: 0.5em;
}

.space-x-1 > * + * {
  margin-inline-start: 1em;
}

.space-y > * + * {
  margin-top: 0.5em;
}

.m-0 {
  margin: 0;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.mbx-5vh {
  margin-block-start: 5vh;
  margin-block-end: 5vh;
}

.mie-1\/4 {
  margin-inline-end: 0.25em;
}

.mbx-1\/2 {
  margin-block-start: 1.5em;
  margin-block-end: 1.5em;
}

.mbs-1\/2{
  margin-block-start: 0.5em;
}

.mbs-1 {
  margin-block-start: 1em;
}

.mbs-2 {
  margin-block-start: 2em;
}

.mbe-1\/2 {
  margin-block-end: 0.5em;
}

.no-decoration {
  text-decoration: none;
}

.overflow-hidden {
  overflow: hidden;
}

.p-0 {
  padding: 0;
}

.py-1\/4 {
  padding-block-start: 0.25em;
  padding-block-end: 0.25em;
}

.pbs-1 {
  padding-block-start: 1em;
}

.rounded-1\/4 {
  border-radius: 0.25em;
}

.w-auto {
  width: auto;
}

.w-1 {
  width: 1em;
}

.w-2 {
  width: 2em;
}

.w-full {
  width: 100%;
}

.text-small {
  font-size: 0.75em;
}

.text-center {
  text-align: center;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.focus-not-sr-only:focus {
  position: absolute;
  width: auto;
  height: auto;
  padding: 0;
  margin: 0;
  overflow: visible;
  clip: auto;
  white-space: normal;
}

.skip-link {
  background: $color-white;
  z-index: 100;
}

[data-filter-entry][data-active="false"] {
  display: none;
}

.filter__control__group {
  display: flex;
  flex-direction: column;
  gap: 1em;
  width: 100%;
}

.filter__input {
  padding: 0.5rem;
  width: 100%;
}

.filter__select__input {
  padding: 0.5rem;
}

@media all and (min-width: 576px) {
  .filter__control__group {
    flex-direction: row;
  }

  .filter__input {
    width: auto;
  }
}

.btn,
.filter__control__clear {
  display: inline-block;
  background-color: var(--blue-00);
  border: 1px solid var(--blue-10);
  box-shadow: 0.25em 0.25em 0 0 var(--blue-75);
  padding: 0.375em 0.5em;
  font-size: 0.625em;
  font-family: var(--monospace);
  border-radius: 1ch;
  text-decoration: none;
  text-transform: uppercase;
  transition: background-color 300ms ease-in-out, color 300ms ease-in-out, box-shadow 200ms ease-in-out;
  vertical-align: middle;
}

.btn:hover,
.filter__control__clear:hover {
  background-color: var(--blue-10);
  box-shadow: 0.0625em 0.0625em 0 0 var(--blue-75);
}
