---
layout: layouts/home.njk
permalink: /two-player/
---

<h2 class="m-0">Two-Player Games</h2>

{% set postslist = collections.posts | sort(attribute="data.title") %}
<ul class="postlist flow">
  {% for post in postslist %}
  {% if post.data.minplayers > 1 and post.data.minplayers < 3 %}
  {% include "postitem.njk" %}
  {% endif %}
  {% endfor %}
</ul >

<p>See <a href="{{ '/tags/' | url }}">all tags</a>.</p>
