---
layout: layouts/home.njk
permalink: /games/
eleventyNavigation:
  key: All Games
  order: 2
---

<h2 class="m-0">Games</h2>
<p>Sorted alphabetically:</p>

{% set postslist = collections.posts | sort(attribute="data.title") %}
{% include "postslist.njk" %}
