---
layout: layouts/home.njk
permalink: /games/
addFilter: true
showPlayerFilter: true
eleventyNavigation:
  key: All Games
  order: 2
---

<h2 class="m-0">Games</h2>

{% set postslist = collections.posts | sort(attribute="data.title") %}
{% include "filter.njk" %}

<hr>

{% include "postslist.njk" %}
