---
layout: layouts/home.njk
---

<blockquote>
  <strong>I love games.</strong> These are rulesets I've collected for reference on-the-go with a focus on low/no component games and house-ruled/modified versions of other games.
</blockquote>

<h2>Get Started</h2>

<p>What do you have on hand?</p>
<ul class="chip-grid">
  <li class="chip tag flow flow-1/2">
    <a class="chip-link after-inset-0" href="{{ '/tags/standard-cards' | url}}">Standard Playing Cards</a> <span class="text-small color-medgray">(Never leave without a deck)</span>
  </li>
  <li class="chip tag flow flow-1/2">
    <a class="chip-link after-inset-0" href="{{ '/tags/dominoes' | url}}">Dominoes</a> <span class="text-small color-medgray">(Nice and waterproof)</span>
  </li>
  <li class="chip tag flow flow-1/2">
    <a class="chip-link after-inset-0" href="{{ '/tags/dice' | url}}">Dice</a> <span class="text-small color-medgray">(Roll dem bones)</span>
  </li>
  <li class="chip tag flow flow-1/2">
    <a class="chip-link after-inset-0" href="{{ '/tags/lowno-component' | url}}">Nothing on hand</a> <span class="text-small color-medgray">(Improvisation!)</span>
  </li>
  <li class="chip tag flow flow-1/2">
    <a class="chip-link after-inset-0" href="{{ '/tags/specialty-components' | url}}">Speciality Components</a> <span class="text-small color-medgray">(So fancy)</span>
  </li>
</ul>

<p>How many players do you have?</p>
<ul class="chip-grid">
  <li class="chip tag flow flow-1/2">
    <a class="chip-link after-inset-0" href="{{ '/tags/solitaire' | url}}">Just Myself (1)</a> <span class="text-small color-medgray">(Forever alone)</span>
  </li>
  <li class="chip tag flow flow-1/2">
    <a class="chip-link after-inset-0" href="{{ '/two-player/' | url}}">Two (2)</a> <span class="text-small color-medgray">(Much quality time)</span>
  </li>
  <li class="chip tag flow flow-1/2">
    <a class="chip-link after-inset-0" href="{{ '/three-player/' | url}}">Three (3)</a> <span class="text-small color-medgray">(Such triangle)</span>
  </li>
  <li class="chip tag flow flow-1/2">
    <a class="chip-link after-inset-0" href="{{ '/four-player/' | url}}">Four (4)</a> <span class="text-small color-medgray">(Very dividable by two)</span>
  </li>
  <li class="chip tag flow flow-1/2">
    <a class="chip-link after-inset-0" href="{{ '/tags/party' | url}}">Large Group (5+)</a> <span class="text-small color-medgray">(Such friends)</span>
  </li>
</ul>

{% set maxPosts = collections.posts.length | min(3) %}
<h2 class="">Latest {% if maxPosts == 1 %}Addition{% else %}{{ maxPosts }} Additions{% endif %}:</h2>

{% set postslist = collections.posts | head(-3) | reverse %}
{% set postslistCounter = collections.posts | length %}
{% include "postslist.njk" %}

<p class="flow-3">More games can be found in <a href="{{ '/games/' | url }}">the full list</a>.</p>
