---
permalink: /tags/
layout: layouts/home.njk
eleventyNavigation:
  key: Tags
  order: 1
---
<h2 class="m-0">Tags</h2>
<p>Sorted alphabetically:</p>

<div class="columns-2 gap-1">

{% for tag in collections.all | getAllTags | filterTagList | sort() %}
  {% set tagUrl %}/tags/{{ tag | slug }}/{% endset %}
  <div class="mbe-1/2">
    <a href="{{ tagUrl | url }}" class="tag">{{ tag }}</a>
  </div>
{% endfor %}

</div>
