---
layout: layouts/home.njk
permalink: /two-player/
addFilter: true
---

<h2 class="m-0">Two-Player Games</h2>

{% set postslist = collections.posts | sort(attribute="data.title") %}

{% include "filter.njk" %}

<hr>

<h3>Best at 2:</h3>

<ul class="postlist flow" data-filter-entry-section>
  {% for post in postslist %}
  {% if post.data.bestplayers === 2 %}
  {% include "postitem.njk" %}
  {% endif %}
  {% endfor %}
</ul >

<hr>

<h3>Other 2 Player Games:</h3>

<ul class="postlist flow" data-filter-entry-section>
  {% for post in postslist %}
  {% if post.data.minplayers > 1 and post.data.minplayers < 3 and post.data.bestplayers !== 2 %}
  {% include "postitem.njk" %}
  {% endif %}
  {% endfor %}
</ul >

<p>See <a href="{{ '/tags/' | url }}">all tags</a>.</p>
