<ul class="postlist flow">
{% for post in postslist %}
  <li class="postlist-item{% if post.url == url %} postlist-item-active{% endif %}">
    <h3 class="m-0 p-0"><a href="{{ post.url | url }}" class="postlist-link no-decoration">{% if post.data.title %}{{ post.data.title }}{% else %}<code>{{ post.url }}</code>{% endif %}</a></h3>
    <div class="space-x">
    {% for tag in post.data.tags | filterTagList %}
      {% set tagUrl %}/tags/{{ tag | slug }}/{% endset %}
      <a href="{{ tagUrl | url }}" class="tag">{{ tag }}</a>
    {% endfor %}
    </div>
  </li>
{% endfor %}
</ul>
