{% set tagList %}
{% for tag in post.data.tags %}{{ tag | replace(" ", "-") }} {% endfor %}
{% endset %}
{% set tagLower = tagList | trim | lower %}


<li class="postlist-item{% if post.url == url %} postlist-item-active{% endif %}"
  data-tags="{{ tagLower }}"
  data-min="{{ post.data.minplayers }}"
  data-max="{{ post.data.maxplayers }}"
  data-filter-entry
  data-active="true"
>
  <div class="flex flex-wrap items-baseline space-x">
    <h3 class="m-0 p-0"><a href="{{ post.url | url }}" class="postlist-link no-decoration" data-filter-entry-text>{% if post.data.title %}{{ post.data.title }}{% else %}<code>{{ post.url }}</code>{% endif %}</a></h3>
    <div class="flex space-x">
      <span class="flex flex-shrink-0">👤
        {%- if post.data.minplayers === post.data.maxplayers -%}
          {{ post.data.minplayers }}
        {%- elif post.data.maxplayers and post.data.maxplayers > 1 -%}
          {{ post.data.minplayers }}-{{ post.data.maxplayers }}
        {%- elif post.data.maxplayers -%}
          {{ post.data.maxplayers }}
        {%- endif -%}
        {%- if post.data.bestplayers -%}
          ({{post.data.bestplayers}})
        {%- endif -%}
      </span>
      {%- if post.data.time %}
      <span class="flex flex-shrink-0">⏱ {{post.data.time}}</span>
      {%- endif %}
    </div>
  </div>
  {%- if post.data.isTool and post.data.description %}
  <p>{{ post.data.description }}</p>
  {%- endif %}
  <div class="space-x">
    {% for tag in post.data.tags | filterTagList %}
    {% set tagUrl %}/tags/{{ tag | slug }}/{% endset %}
    <a href="{{ tagUrl | url }}" class="tag">{{ tag }}</a>
    {% endfor %}
  </div>
</li>
