*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-weight: normal;
}

:root {
  --monospace: "JetBrains Mono", "Fira Code", "Source Code Pro", "IntelOne Mono",
    Inconsolata, Consolas, MonoLisa, Monoid, Menlo, Monaco, Andale Mono WT,
    Andale Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Liberation Mono,
    Nimbus Mono L, monospace;
  --sans-serif: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  --accent: "Pirata One", system-ui;
  --offset: #f0f0f0;
  --shadow: 0 0.25rem 1rem rgba(0,0,0,0.1);
  --bg: #ffffff;
  --btn-bg: #f0f0f0;
  --btn-text: #222;
  --btn-bg-active: #ddddff;
  --btn-border-active: #aaaacc;
  --btn-border: #e2e2e2;
  --btn-bg-offset: #ddd;
  --btn-border-offset: #ccc;
  --btn-secondary-bg: #333;
  --btn-secondary-border: #222;
  --btn-secondary-text: #fff;
  --btn-secondary-bg-active: #22a;
  --btn-secondary-border-active: #229;
}

html,
body {
  font-size: 16px;
  /* font-size: clamp(0.875rem, 0.625vw + 0.75rem, 1.375rem); */
}

body {
  min-height: 100dvh;
  line-height: 1.6;
  font-family: var(--sans-serif);
  text-rendering: optimizeLegibility;
  color: var(--text-color, #111);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--background, #fff);
}

button,
input,
select {
  font-family: inherit;
  font-size: inherit;
}

input {
  border: 1px solid var(--theme-btn-border, var(--btn-border));
  font-family: var(--monospace);
  padding: 0.25rem;
  width: auto;
}

.app {
  min-height: 100dvh;
  overflow: hidden;
}

.btn {
  background-color: var(--theme-btn-bg, var(--btn-bg));
  border: 1px solid var(--theme-btn-border, var(--btn-border));
  color: var(--theme-btn-text, var(--btn-text));
}

.btn[disabled] {
  opacity: 0.5;
}

.title {
  font-family: var(--accent);
  font-size: 4em;
}

.modal__label {
  font-family: var(--accent);
  font-size: 2em;
}

.start {
  position: fixed;
  inset: 1rem;
  z-index: 100;
  background: white;
  display: flex;
  flex-direction: column;
  box-shadow: var(--theme-shadow, var(--shadow));
}

.start__title {
  text-align: center;
}

.start__edit {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

.start__input-group {
  display: flex;
  align-items: center;
  max-width: 40rem;
  width: 100%;
  padding-inline-end: 1rem;
}

.start__input {
  flex-grow: 1;
}

.start__remove {
  height: 100%;
  padding-inline: 0.75rem;
}

.start__label {
  width: 3rem;
  text-align: center;
  display: block;
}

.start__controls {
  display: flex;
}

.start__control-btn {
  width: 100%;
  padding: 1rem;
}

.editor {
  position: fixed;
  inset: 1rem;
  z-index: 200;
  background: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: var(--theme-shadow, var(--shadow));
}

.editor__tabs {
  display: flex;
  width: 100%;
}

.editor__tabs-btn {
  --theme-btn-bg: var(--theme-btn-secondary-bg, var(--btn-secondary-bg));
  --theme-btn-border: var(--theme-btn-secondary-border, var(--btn-secondary-border));
  --theme-btn-text: var(--theme-btn-secondary-text, var(--btn-secondary-text));
  width: 100%;
  padding: 0.5rem;
}

.editor__tabs-btn.active {
  --theme-btn-bg: var(--theme-btn-secondary-bg-active, var(--btn-secondary-bg-active));
  --theme-btn-border: var(--theme-btn-secondary-border-active, var(--btn-secondary-border-active));
}

.editor__title {
  width: 100%;
}

.editor__title__chain-score {
  width: 100%;
  background-color: var(--theme-offset, var(--offset));
  padding: 0.5rem 1rem;;
}

.editor__title__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding-inline: 1rem;
}

.editor__input-group {
  display: flex;
  width: 100%;
}

.editor__input-btn {
  height: 100%;
  padding-inline: 1.5rem;
}

.editor__input {
  flex-grow: 1;
  text-align: center;
  width: 100%;
  font-size: 2rem;
}

.editor__edit-group {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.editor__btn-group {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  flex-grow: 1;
}

.editor__edit-btn {
  --theme-btn-bg: var(--theme-btn-bg-offset, var(--btn-bg-offset));
  --theme-btn-border: var(--theme-btn-border-offset, var(--btn-border-offset));
}

.editor__controls {
  display: flex;
  width: 100%;
}

.editor__controls-btn {
  width: 100%;
  padding: 1rem;
}

.controls {
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  justify-content: center;
  box-shadow: var(--theme-shadow, var(--shadow));
  background-color: var(--theme-bg, var(--bg));
}

.controls__left {
  margin-inline-end: auto;
}

.controls__middle {
  display: flex;
  align-items: center;
  gap: 0.5em;
}

.controls__right {
  margin-inline-start: auto;
}

.controls__round {
  font-weight: bold;
}

.controls__btn {
  height: 100%;
  padding: 1rem;
}

.scorecard {
  display: flex;
  gap: 0.5em;
  overflow-x: auto;
  overflow-y: auto;
  height: 100dvh;
  max-height: calc(100dvh - 53px);
  z-index: 90;
  padding-inline: 0.5em;
}

.scorecard.disabled {
  opacity: 0.5;
  pointer-events: none;
}

.player {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.player__name {
  font-family: var(--accent);
  font-size: 1.25em;
  max-width: 6rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.player__nameplate {
  position: sticky;
  top: 0;
  background: white;
  z-index: 10;
}

.round {
  border: 1px solid black;
  font-family: var(--monospace);
}

.round.active {
  background: rgba(200, 200, 255, 0.5);
}

.round__upper {
  display: flex;
}

.round__lower {
  display: flex;
}

.round__fraction {
  border: 1px solid black;
  aspect-ratio: 1/1;
  width: 2em;
  position: relative;
  padding: 0.125em;
}

.round__fraction::after {
  display: block;
  content: "";
  width: 2.75em;
  border-top: 1px solid black;
  position: absolute;
  transform-origin: bottom right;
  transform: rotate(-45deg);
  top: 0;
  right: 0;
}

.round__bid,
.round__won {
  font-size: 0.825em;
  line-height: 1;
  flex-grow: 1;
}

.round__won {
  text-align: right;
}

.round__bid-result {
  min-width: 2em;
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
}

.round__bonus {
  min-width: 2em;
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
}

.round__score {
  width: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  background: rgba(0, 0, 0, 0.1);
}

.round__inc-score {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  font-weight: bold;
}

.player__score {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--monospace);
  font-size: 2em;
}
