---
layout: layouts/base.njk
templateClass: tmpl-post
---
<div class="container flow">

  <section >
    <h1 class="heading-50">{{ title }}</h1>

    <div class="space-x">
      {%- for tag in tags | filterTagList -%}
      {%- set tagUrl %}/tags/{{ tag | slug }}/{% endset -%}
      <a href="{{ tagUrl | url }}" class="tag">{{ tag }}</a>
      {%- endfor %}
    </div>
  </section>

  <dl class="flow-1/2">
    <dt>👤 Players:</dt>
    {%- if  maxplayers > 1 %}
    <dd>{{ minplayers }}-{{ maxplayers }}</dd>
    {%- else %}
    <dd>{{ maxplayers }}</dd>
    {%- endif %}

    {%- if time %}
    <dt>⏱ Time to play:</dt>
    <dd>{{ time }} minutes</dd>
    {%- endif %}

    {%- if equipment %}
    <dt>♟ Equipment:</dt>
    <dd>{{ equipment }}</dd>
    {%- endif %}
  </dl>

{{ content | safe }}

  <p class="font-monospace text-small color-gray">
    <span>Date added: <time datetime="{{ page.date | htmlDateString }}">{{ page.date | readableDate }}</time></span>
    {%- if modified %}
    <span>| Modified: <time datetime="{{ modified | htmlDateString }}">{{ modified | readableDate }}</time>
      {%- endif %}
  </p>

{%- if collections.posts %}
{%- set nextPost = collections.posts | getNextCollectionItem(page) %}
{%- set previousPost = collections.posts | getPreviousCollectionItem(page) %}
{%- if nextPost or previousPost %}
<hr>
<ul>
  {%- if nextPost %}<li>Next: <a href="{{ nextPost.url | url }}">{{ nextPost.data.title }}</a></li>{% endif %}
  {%- if previousPost %}<li>Previous: <a href="{{ previousPost.url | url }}">{{ previousPost.data.title }}</a></li>{% endif %}
</ul>
{%- endif %}
{%- endif %}



</div>
