---
layout: layouts/base.njk
templateClass: tmpl-post
---
<div class="container flow">

  <section>
    <h1 class="heading-50">{{ title }}</h1>

    <div class="space-x mbs-1/2">
      {%- for tag in tags | filterTagList -%}
      {%- set tagUrl %}/tags/{{ tag | slug }}/{% endset -%}
      <a href="{{ tagUrl | url }}" class="tag">{{ tag }}</a>
      {%- endfor %}
    </div>
  </section>

  <dl class="flow-1/2 mbs-2">
    <dt>👤 Players:</dt>
    <dd>
    {%- if  maxplayers > 1 %}
      {{ minplayers }}-{{ maxplayers }}
    {%- else %}
      {{ maxplayers }}
    {%- endif %}
    {%- if bestplayers %}
      (Best at {{ bestplayers }})
    {%- endif %}
    </dd>

    {%- if time %}
    <dt>⏱ Time to play:</dt>
    <dd>{{ time }} minutes</dd>
    {%- endif %}

    {%- if equipment %}
    <dt>♟ Equipment:</dt>
    <dd>{{ equipment }}</dd>
    {%- endif %}

    {%- if designer %}
    <dt>🧠 Designer(s):</dt>
    <dd>{{ designer }}</dd>
    {%- endif %}

    {%- if tools %}
    <dt>🔧 Tools:</dt>
    {%- set toolEntries = tools | getTools(collections.all) %}
      {%- for entry in toolEntries %}
      <dd><a href="{{ entry.filePathStem }}">{{ entry.data.title }}</a></dd>
      {%- endfor %}
    {%- endif %}
  </dl>

  <details>
    <summary>QR Code</summary>
    {{ page | qrCode | safe }}
  </details>

{{ content | safe }}

  <p class="font-monospace text-small color-gray flow-2">
    <span>Date added: <time datetime="{{ page.date | htmlDateString }}">{{ page.date | readableDate }}</time></span>
    {%- if modified %}
    <span>| Modified: <time datetime="{{ modified | htmlDateString }}">{{ modified | readableDate }}</time>
      {%- endif %}
  </p>

  <hr class="flow-2">

  <div class="flex justify-between flow-2">
    <div class="flex flex-wrap items-center gap-1/2">
      <p>More:</p>
      {%- for tag in tags | filterTagList -%}
      {%- set tagUrl %}/tags/{{ tag | slug }}/{% endset -%}
      <a href="{{ tagUrl | url }}" class="tag">{{ tag }}</a>
      {%- endfor %}
    </div>

    <a class="font-monospace no-decoration flex-shrink-0" href="{{ 'games' | url }}">All Games</a>
  </div>


</div>
